.acceuil-table td {
	border: 1px solid black;
}

.img-case img {
	width: 100%;
}

.img-case {
	width: 10%;
}

.comment-case {
	width: 90%;
}

.empty-img {
	width:100%;
}

.acceuil-table td .like,
.acceuil-table td .unlike {
	width: 40%;
}
.acceuil-table td .delete {
	width: 25%;
}

.navbar {
	text-align: center;
}

.navbar a {
	padding: 10px;
}
