.acceuil-table td {
	border: 1px solid black;
}

.img-case img {
	width: 100%;
}

.img-case {
	width: 20%;
}

.comment-case {
	width: 20%;
}

.empty-img {
	width:100%;
}

.acceuil-table td .like-count {
	font-size: 20px;
	font-family: Lobster;
}
.acceuil-table td .like,
.acceuil-table td .unlike {
	width: 40%;
	max-width: 50px;
}
.acceuil-table td .delete {
	width: 25%;
	max-width: 50px;
}

.navbar {
	text-align: center;
}

.navbar a {
	padding: 10px;
}
