
.cliparts-containt {
	box-shadow: 0px 0px 5px #000;
}

.grid-4 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.grid-4 > * {
	width: calc(10% - 20px); 
}

.cliparts-radio {
	visibility: hidden;
	display: none;
}

.cliparts {
	width: 100%;
	width: 100%;
}

.cliparts-radio:checked + .cliparts {
	background-image:radial-gradient(rgba(86, 217, 213, 1), rgba(86,217,213,0.2));
	box-shadow: 0px 0px 5px #888888;
}

.left-containt {
    width: 73%;
    display: inline-block;
}

.snapshot {
	width:40%;
	height: 400px;
    margin-left: 10%;
}

.video {
	width: 40%;
	height: 400px;
	float: left;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
}

.galerie_montage {
	float: right;
	width: 25%
}

.galerie_montage img {
	width: 100%;
	padding-top: 3px;
}