body {
	-webkit-transition: width 1s;
	min-height: 100%;
	margin: 0 0 0 0;
	background-image: url("/assets/img/site42-bg.gif");

	font-family: Courier, monospace;
}

#table-form-div {
	text-align: center;
}
#table-form {
	float: middle;
	margin: 0 auto;
	text-align: right;
}

#header {
	background-image:linear-gradient(#5edae5, #2AD37F);
}

#header a {
	text-decoration: none;
	color: black;
	font-size: 120%;
}

#header a:hover {
	color: blue;
}

#header-table {
	height: 5%;
	width: 100%;
}

#header-table td{
	border: 1px solid black;
	text-align: center;
}

.navbar-img {
	width: 12%;
}

#containt {
	/*
	background-image: url("/assets/img/site42-bg.gif");
	bacground-color: #DCDCDC;
	*/
}

#footer {
	bottom: 0;
	position: static;
	background-image:linear-gradient(#2AD37F, #5edae5);
	height: 30px;
	width: 100%;
	display: inline-block;
}
